* {
    margin: 0;
}
.str-1 {
    background-color: white;
    width: 100%;
    height: 1988px;
}
.header {
    width: 100%;
    height:65px;
    background-color:#61DC0B ;
}
.white-box {
    width: 10%;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 25px;
}

.container {
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 25%;
}
.form {
    margin-top: 9px;
}
.form-style {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
    font-family: "Open Sans", sans-serif;
}
.form-style:last-of-type {
    margin-left: 70px;
}
.burger {
    width:40px ;
    height:40px ;
    color: black;
    display: none;
}
.menu-burger {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 1080px;
    position: fixed;
    z-index: 2000;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    display: none;
}
.all_menu {
    width: 75%;
    height: 100%;
    background-color: white;
    margin-left: 25%;

}
.header-burger {
    width: 100%;
    height:65px;
    background-color:#61DC0B ;
}
.num {
    text-decoration: none;
    font-size:28px;
    font-weight:700;
    color: black;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    margin-left:28px;
    top: 25px;
}
.close {
    width: 50px;
    height:50px ;
    margin-left: 80%;
}
.form-style1 {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    margin-left: 85px;
    top: 127px;
    left: 102px;
    display: block;
}
.logo-photo {
    width:100% ;
    height:30% ;
}
.icon {
    width: 70%;
    height: 56px;
    margin-left: 16%;
}
.telegramm {
    margin-left: 7px;
}
.window-info {
    width:70% ;
    height:auto ;
    background-color: #D9D9D9;
    margin-left: 15%;
    border-radius: 50px;
    margin-top: 125px;
}
.style-text-info {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    padding-bottom: 50px;
    padding-right: 40px;

}
.info {
    width: 98%;
    height: 100%;
    padding-top: 50px;
    margin-left: 30px;
    display: flex;
}
.logo {
    width: 20%;
    height: 10%;
    margin-left: 20%;
    border-radius: 50px;
}
@keyframes ex {
    0% {
       left: 800px;
    }
    100% {
        left: 1%;
    }
}
@keyframes close {
    0% {
        left: 1%;
    }
    100% {
        left: 800px;
    }
}






@media (max-width: 1581px) {
    .form-style {
        font-size: 28px;
    }
    .container {
        width: 80%;
        margin-left: 10%;
    }
    .style-text-info {
        font-size: 34px;
    }
    .logo {
        height: 45%;
    }
}
@media (max-width: 1219px) {
    .style-text-info {
        font-size: 30px;
    }
    .logo {
        display: none;
    }
}
@media (max-width: 993px) {
    .form-style {
        font-size: 19px;
        margin-left: 15px;
    }
    .form {
        margin-top: 20px;
    }
    .white-box {
        height: 37px;
        margin-top: 15px;
    }
}
@media (max-width: 700px) {
    .form {
        display: none;
    }
    .burger {
        display: block;
        margin-top: 13px;
        margin-left: 75%;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
    .style-text-info {
        font-size: 26px;
    }
}
@media (max-width: 571px) {
    .white-box {
        width: 10%;
    }
    .burger {
        margin-left: 60%;
    }
    .style-text-info {
        font-size: 20px;
    }
    .window-info {
        width: 80%;
        margin-left: 10%;
    }

}
@media (max-width: 385px) {
    .style-text-info {
        font-size: 16px;
    }
}
@media (max-width: 333px) {
    .white-box {
        width: 15%;
    }
    .burger {
        width: 30px;
        height: 30px;
    }
}
